# Ignore the .env file with sensitive information
.env

# Ignore Python bytecode files
*.pyc

# Ignore virtual environment directories
venv/
__pycache__/

# Other typical files to ignore
*.sqlite3
*.db
